rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow developers to read and write to the database during development.
    // TODO: Add more secure rules before deploying to production.
    match /schools/{schoolId}/{document=**} {
      allow read, write: if true;
    }
  }
}
